.single__item {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.single__card,
.single__loading {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.single__card__left,
.single__loading__img,
.single__loading__info .single__card__right {
  width: 45%;
}

.single__card__right,
.single__loading__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.single__card__left img {
  width: 100%;
}

@media (max-width: 930px) {
  .single__card,
  .single__loading {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .single__card__left,
  .single__loading__img,
  .single__loading__info .single__card__right {
    width: 100%;
  }
}

.single__loading__img,.single__loading__info {
  width: 50%;
  height: 100%;
  border-radius: 5px;
}

.single__loading__item {
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

.single__loading__item:first-child{
    width: 50%;
}

.single__loading__item:nth-child(2){
    height: 80px;
}

.single__loading__item:nth-child(3){
    width: 90%;
}
.single__loading__item:nth-child(4){
    width: 80%;
}

.single__loading__item:nth-child(5){
    width: 80%;
}

.single__loading__item:nth-child(6){
    width: 60%;
}

.single__loading{
    height: 500px;
    width: 100%;
}

.bg__animation {
  background: linear-gradient(90deg, #eee, #ddd, #eee);
  background-size: 200%;
  animation: bgMove 1s linear 0s infinite;
}
@keyframes bgMove {
  to {
    background-position: 200%;
  }
}
